!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="POST" th:action="@{/edit/${user.id}}"  th:object="${user}">
    <input type="hidden" name="id" th:value="*{id}">
    <label>Name</label>
    <input type="text" name="name" th:value="*{name}">
    <label>Age</label>
    <input type="number" name="age" th:value="*{age}">
    <label>Last Name</label>
    <input type="text" name="lastName" th:value="*{lastName}">

    <button type="submit">Save edits</button>
</form>
</body>
</html>