<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List page</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Last name</th>
            <th>Name</th>
            <th>Edit</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getLastName()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
            <td><a th:href="@{edit/{userId}(userId=${user.id})}">Edit user</a></td>
            <td><a th:href="@{delete/{userId}(userId=${user.id})}">Delete user</a></td>
        </tr>
    </table>

    <div>
        Roles
    </div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each ="role : ${roles}">
            <td th:utext="${role.getId()}">...</td>
            <td th:utext="${role.getName()}">...</td>
        </tr>
    </table>
    <div>
        <a href="/create">Add new user</a>
    </div>
</div>
</body>
</html>