<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <div class="container-fluid bg-dark text-white" style="height: 40px;">
        <div class="row ">
            <div class="col-11">
                <h3><p>
                    <span th:text="${user.getEmail()}" class="font-weight-bold"> Email </span> with roles:
                    <span th:text="${user.getStringRoles()}"> Role </span>
                </p></h3>
            </div>
            <div th:fragment="logout" class="col-1">
                <a style="color: #cccccc" href="/logout">Logout</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 p-0 mt-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="/admin/users" class="btn btn-primary btn-lg btn-block text-left" role="button">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <br>
                <h1><p class="font-weight-bold">Admin panel</p></h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a th:href="@{/admin/users}" class="nav-link">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/create}" class="nav-link active">New User</a>
                    </li>
                </ul>
                <div>
                    <p></p>
                    <h3><p>Add new users</p></h3>
                </div>
                <div class="container-fluid d-flex flex-column justify-content-center align-items-center col-5 bg-white">
                    <form th:action="@{/admin/create}" th:method="POST" th:object="${userForm}">
                        <input type="hidden" name="id" th:value="*{id}">
                        <div class="form-group">
                            <label for="userName" class="d-flex justify-content-center font-weight-bold">First name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="userName" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="d-flex justify-content-center font-weight-bold">Last name</label>
                            <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <label for="age" class="d-flex justify-content-center font-weight-bold">Age</label>
                            <input type="number" th:field="*{age}" class="form-control" id="age" placeholder="Enter age">
                        </div>
                        <div class="form-group">
                            <label for="email" class="d-flex justify-content-center font-weight-bold">Email</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="d-flex justify-content-center font-weight-bold">Password</label>
                            <input type="password" name="password" th:value="*{password}" class="form-control" id="password" placeholder="Enter password">
                        </div>

                        <div class="form-group">
                            <label for="rolesSelect" class="d-flex justify-content-center font-weight-bold">Chose Role</label>
                            <select multiple size="3" id="rolesSelect" name="role" class="form-control">
                                <option th:each ="role : ${roles}" th:value="${role.getName()}" th:text="${role.getName()}"></option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn submit btn-success">Add new user</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!--    <form role="form"  id="userprofile-form" th:action="@{/admin/create}" th:method="POST" th:object="${userForm}">-->
<!--        <h2>Регистрация</h2>-->
<!--        <input type="hidden" name="id" th:value="*{id}">-->
<!--        <label>Name</label>-->
<!--        <input type="text" name="name" th:value="*{name}">-->
<!--        <label>Last Name</label>-->
<!--        <input type="text" name="lastName" th:value="*{lastName}">-->
<!--        <label>Age</label>-->
<!--        <input type="number" name="age" th:value="*{age}">-->
<!--        <label>Email</label>-->
<!--        <input type="text" name="email" th:value="*{username}">-->
<!--        <label>Password</label>-->
<!--        <input type="text" name="password" th:value="*{password}">-->

<!--        <div>-->
<!--            <label for="rolesSelect">Chose Role</label>-->
<!--            <select multiple size="3" id="rolesSelect" name="role" >-->
<!--                <option th:each ="role : ${roles}" th:value="${role.getName()}" th:text="${role.getName()}"></option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <button type="submit">Зарегистрировать</button>-->
<!--    </form>-->
<!--    <a href="/">Главная</a>-->
</div>
</body>
</html>